#footerWrapper {
  grid-column: 1 / -1;
  background-color: var(--background-1);
  color: var(--alternative-1);
  padding: 1em;
  font-size: 1.0em;
  font-weight: bold;
  text-align: center;
}

#footerWrapper span {
  text-shadow: none;
}

#footerWrapper a {
  transition: all 0.5s ease;
  animation: hoverAnimationOut 0.5s ease forwards;
  text-decoration: none;
}

#footerWrapper a:hover {
  animation: hoverAnimation 0.5s ease forwards;
}

