#headerWrapper {
  grid-column: 1 / -1;
  grid-row: 1;
  background: linear-gradient(0deg, var(--background-1) 5%,#080c1480 15%,  #080c1480 20%, #ea008180 100%), url("../../assets/img/header-gif.gif"); /*src: https://wallpaperaccess.com/full/8881699.gif*/
  background-position: center;
  background-size: cover;
  padding: 1em;
  padding-bottom: 1.5em;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  min-width: fit-content;
}

#headerWrapper a {
  text-decoration: none;
}

#headingText {
  font-family: 'Cyberpunk', sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  filter: drop-shadow(0 0 0.25rem black);
  color: var(--background-1);
  transform: scale(2.5);
  width: fit-content;
  margin: auto;
  margin-bottom: 1em;
  margin-top: 1em;

  font-weight: bold;

  text-shadow: -2px -2px 0 #55a4ff, 2px -2px 0 #ffe555, 2px 2px 0 #ff55aa;
  letter-spacing: 4px;
}



#navbar {
  font-size: 1em;
  position: sticky;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 2px solid var(--main-accent);
  text-transform: uppercase;
}

#navbar li {
  float: left;
}

#navbar li:before {
  content : "";
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 1px;
  width   : 50%;  /* or 100px */
  border-right:1px solid #bbb;
}

#navbar li:last-child {
  border-right: none;
  float: right;
}

#navbar li a {
  font-family: 'Cyberpunk3', sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar li a:hover {
  transform: scale(1.1);
  transition: all 0.5s ease 0s;
}

#navbar li a:hover:not(.active) {
  background-color: var(--accent-1);
}

#navbar .active {
  background-color: var(--main-accent);
  color: var(--background-1);
}