.no-marker {
    list-style: none;
    margin: 0;
    padding: 0;
 }
 
#contact {
    grid-column: 1 / -1;
    display: grid;
    grid-row: 2;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: linear-gradient(to bottom, var(--background-1), var(--background-2));
    max-width: 100%;
}

#contact p {
    color: var(--accent-2);
}

#bubblyBytesLogo {
    filter: drop-shadow(0 0 15px black);
    padding: 0;
}